.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  background-color: white;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

.copyright {
  display: flex;
  align-items: center;
  color: $color-grey-dark-1;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 3.5rem;
  margin-top: 4rem;
  text-align: center;

  .copyright--name {
    padding: 0 1rem;
  }

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
    text-decoration: none;
  }
}
