.search-results-box {
  display: flex;
  height: 100%;
  @media screen and (max-width: 754px) {
    flex-direction: column;
  }
}

.search-results {
  padding-bottom: 3rem;
  display: flex;
  flex: 0 0 40%;
  flex-direction: column;

  // margin-top: 6rem;
  background-color: white;
  @media screen and (max-width: 754px) {
    // margin-top: 8rem;
    flex: 0 0 300px;
    overflow-y: scroll;
    width: 100%;
    .copyright {
      display: none;
    }
  }
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  // margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

.copyright {
  display: flex;
  align-items: center;
  color: $color-grey-dark-1;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 3.5rem;
  margin-top: 4rem;
  text-align: center;
  margin-top: auto;

  .copyright--name {
    padding: 0 1rem;
  }

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
    text-decoration: none;
  }
}
